@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$color-background: #181818;
$color-text: #ffffff;
$ptku-blue: #50EFEC;
$ptku-pink: #D12CDC;
$correct-green: #30de10;
$incorrect-red: #ff0000;

$inter: "Inter", sans-serif;
$barlow: "Barlow", sans-serif;
$barlow-sc: "Barlow Semi Condensed", sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scrollbar-gutter: stable;
}

body {
    min-height: 100vh;
    color: $color-text;
    background: $color-background;
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family: $barlow;
    font-size: 15px;
}
