@import './base.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
body {
display: flex;
justify-content: center;
}
button, .button {
  text-decoration: none;
  border: 1px solid var(--ptku-blue);
  border-radius: 15px;
  color: var(--ptku-blue);
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 20px;
  transition: 0.4s;
}
button {
    background: var(--color-background);
    font-family: inherit;
}

@media (hover: hover) {
  button:hover, .button:hover {
    background-color: var(--ptku-blue);
    color: var(--vt-c-black-soft);
  }
}

