@use 'base';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
}
h1,h2,h3,h4,h5 {
    font-family: base.$inter;
    font-weight: 900;
}
button, .button {
    background: base.$color-background;
    border: 1px solid base.$ptku-blue;
    border-radius: 15px;
    color: base.$ptku-blue;
    cursor: pointer;
    display: inline-block;
    font-family: base.$inter;
    font-weight: 900;
    letter-spacing: 1.2px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}
button.reverse, .button.reverse {
    border-color: base.$ptku-blue;
    background-color: base.$ptku-blue;
    color: #222222;

    &:hover {
        background-color: transparent !important;
        color: base.$ptku-blue;
    }
}
.button-alternate {
    border-color: base.$ptku-pink;
    color: base.$ptku-pink;

    &:hover {
        background-color: base.$ptku-pink !important;
        color: #222222;
    }
}
.button-alternate.reverse {
    border-color: base.$ptku-pink;
    background-color: base.$ptku-pink;
    color: #222222;

    &:hover {
        background-color: transparent !important;
        color: base.$ptku-pink;
    }
}

@media (hover: hover) {
    button:hover, .button:hover {
        background-color: base.$ptku-blue;
        color: #222222;
    }
}

